.menu {
  width: min(95%, 1000px);
  margin: auto;
  flex: 1;
}

.menu p {
  text-align: center;
}

/* MOBILE STYLES */
@media screen and (max-width: 680px) {
  .menu {
    padding: 1rem;
  }
}
