.category {
  background-color: white;
  aspect-ratio: 1.2;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  position: relative;
  border: transparent 2px solid;
  overflow: hidden;
}

.category h3 {
  width: 100%;
  height: 100%;
  background-color: #00000080;
  position: absolute;
  transition: background-color 0.3s;
  color: white;
  display: flex;
  align-items: end;
  padding: 1rem;
}

.category:hover h3 {
  background-color: #000000aa;
}

.category img {
  flex: 1;
  border-radius: 5px 5px 0 0;
  object-fit: cover;
  transition: scale 0.3s;
}

.category:hover img {
  scale: 1.05;
}
