.products {
  width: min(80%, 1400px);
  margin: 3rem auto;
}

.loadingIndicator {
  margin: 3rem auto;
  text-align: center;
}

.productsError {
  width: 80%;
  max-width: 1400px;
  margin: 3rem auto;
  text-align: center;
  font-size: 0.9rem;
  color: #333;
}

.productsError button {
  color: var(--RED-100);
  background-color: transparent;
  border: none;
  font-size: inherit;
}

body ::-webkit-scrollbar {
  display: none;
}

.productList {
  display: grid;
  overflow-x: scroll;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

/* MOBILE STYLES */

@media screen and (max-width: 996px) {
  .productList {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .products {
    width: 90%;
  }
}
/* 
@media screen and (max-width: 600px) {
  .productList {
    grid-template-columns: 1fr;
  }
} */
