.products {
  width: 80%;
  max-width: 1400px;
  margin: 3rem auto;
}

body ::-webkit-scrollbar {
  display: none;
}

.productList {
  display: grid;
  overflow-x: scroll;
  grid-auto-flow: column;
  grid-auto-columns: 215px;
  gap: 1rem;
}

@media screen and (max-width: 768px) {
  .products {
    width: 90%;
  }
}
