.products {
  width: 80%;
  max-width: 1400px;
  margin: 3rem auto;
}

.loadingIndicator {
  margin: 3rem auto;
  text-align: center;
}

.productsError {
  width: 80%;
  max-width: 1400px;
  margin: 3rem auto;
  text-align: center;
  font-size: 0.9rem;
  color: #333;
}

.productsError button {
  color: var(--RED-100);
  background-color: transparent;
  border: none;
  font-size: inherit;
}

body ::-webkit-scrollbar {
  display: none;
}

.productList {
  display: grid;
  overflow-x: scroll;
  grid-auto-flow: column;
  grid-auto-columns: 215px;
  gap: 1rem;
}

@media screen and (max-width: 768px) {
  .products {
    width: 90%;
  }
}
